/* Chrome, Safari, Edge, Opera için */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.link-no-style {
  color: inherit; 
  text-decoration: none; 
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(189, 189, 189, 0.63);
  border-radius: 5px;
}